.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project
settings/internal/com.kms.katalon.composer.testcase.properties
settings/internal/com.kms.katalon.execution.properties
settings/internal/com.kms.katalon.execution.webui.properties
settings/internal/com.kms.katalon.execution.properties
settings/internal/com.kms.katalon.core.windows.properties
